/* fontes */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


/* Cabeçalho */

body {
    background-color: #FAFBFE;
    margin: 0 80px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 0 1em 0;
}

.logo {
    font-size: 18px;
    font-weight: 600;
    color: #000000D9;
}

.navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4em;
    font-size: 14px;
    font-weight: 400;
}

.navegacao * {
    color: #474747;
}

.navegacao *:first-child {
    font-weight: 600;
}


/* Primeira sessao */

.primeira-sessao {
    background-color: #474747;
    display: flex;
    flex-direction: column;
    padding: 126px 0 34px 54px;
    background: linear-gradient(259.08deg, #D5ECFF 0.69%, #E6F2FC 100%);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    margin: 0 0 170px 0;
}

.primeira-sessao-conteudo {
    width: 43%;
}

.primeira-sessao-conteudo h2 {
    font-size: 14px;
    color: #FF8400;
    font-weight: 600;
}

.primeira-sessao-conteudo h1 {
    font-weight: 600;
    font-size: 54px;
    color: #2D2D2D;
    line-height: 121%;
}

.primeira-sessao-conteudo h3 {
    font-weight: 300;
    font-size: 14px;
    margin: 3em 0 10em 0;
    color: rgba(0, 0, 0, 0.7);
}

.produtos-navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5em 0 0;
}

.primeira-sessao-conteudo a {
    font-weight: 600;
    font-size: 14px;
    color: rgba(71, 71, 71, 0.3);
}

.sessao-com-imagem img {
    border-radius: 1px 136px 1px 120px;
    position: absolute;
    top: 10em;
    right: 10%;
}


/* Segunda sessão */

.conteudo {
    display: flex;
    flex-direction: column;
    margin: 0 108px;
}

.segunda-sessao {
    margin-bottom: 12em;
}

h2 {
    font-weight: 600;
    font-size: 34px;
    color: #2D2D2D;
}

.servicos-oferecidos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6em;
}

.servico {
    width: 27%;
}

.servico img {
    padding: 15px;
    border-radius: 5px;
}

.servico-primeiro-icone {
    background-color: #E3FCE6;
}

.servico-segundo-icone {
    background-color: #FFF6E5;
}

.servico-terceiro-icone {
    background-color: #E8F9FE;
}

.servico h3 {
    font-weight: 600;
    font-size: 14px;
    color: #474747;
    padding-top: 2em;
    width: 60%;
}

.servico p {
    font-weight: 300;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    vertical-align: bottom;
    margin-top: 1em;
}

.trabalhos {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.trabalhos img {
    width: 100%;
    border-radius: 8px;
}

.trabalho-duplo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 2%;
}

.trabalho-duplo img {
    width: 49%;
    display: flex;
}

.portfolio h2 {
    font-weight: 600;
    font-size: 34px;
    color: #2D2D2D;
    margin-bottom: 1.5em;
}

.portfolio-imagens {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.view-more {
    margin-top: 3em;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-top: 8em;
}

.time-colaborador h3 {
    font-weight: 600;
    font-size: 20px;
    color: #474747;
}

.time-colaborador p {
    font-weight: 300;
    font-size: 16px;
    color: #474747;
}

.imagem-de-perfil {
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: 55% 10%;
    border-radius: 60px;
}

.redes-sociais-icone {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.6em 1.5em 0;
}

.icone {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid #ACD7FB;
}

.icone img {
    width: 50%;
    height: 50%;
    position: relative;
    top: 25%;
}

.parceiros {
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    margin: 2.5em 0;
    padding: 1.5em 0;
}

.parceiros img {
    height: 53px;
}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}

.contato form {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 0.75em;
    margin-bottom: 9em;
}

.contato form * {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1em;
}

.contato form *:active,
.contato form *:hover,
.contato form *:focus {
    outline: none !important;
    border: 1px solid #4093DC;
    box-sizing: border-box;
    border-radius: 4px;
}

.contato form *:last-child {
    width: 33%;
    border: 1px solid #4093DC;
    color: #4093DC;
    align-self: flex-end;
}

.contato form *:last-child:active {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: -2px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    color: rgba(0, 0, 0, 0.85);
    cursor: default;
}

footer h3 {
    font-weight: 600;
    font-size: 18px;
}

footer p {
    font-weight: 300;
    font-size: 14px;
}